.row
  .span8= @cat.image_for 'profile-picture', class: 'img-polaroid'

  .span4
    h1= @cat.string_for 'name'

    dl
      dt Age
      dd= @cat['age']

      dt Nickname
      dd= @cat.string_for 'nickname'

    = @cat.content_for 'bio'