doctype html
html
  head
    title Skeleton
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  body
    = render 'femur/admin_bar'
    ruby:
      nav_options = { ul: { class: 'nav' }}
      nav_options[:toggle] = { li: { class: 'dropdown' }, a: { class: "dropdown-toggle", data: { toggle: "dropdown" }}, text_append: '<b class="caret"></b>'}
      nav_options[:subnav] = { ul: { class: 'dropdown-menu' }}

    .navbar.navbar-inverse.navbar-static-top
      .navbar-inner
        .container= render 'femur/menu', options: nav_options
    #main.container= yield